<div class="checkBlock">
  <div>
    <h2>Animals:</h2>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr ng-repeat="pet in petName track by $index">
        <td>{{pet}}</td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Doctors:</h2>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr ng-repeat="doctor in doctorName track by $index">
        <td>{{doctor}}</td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Owners:</h2>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr ng-repeat="owner in ownerName track by $index">
        <td>{{owner}}</td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Visits:</h2>
    <table>
      <tr>
        <th>Visited At</th>
      </tr>
      <tr ng-repeat="visit in visitDate track by $index">
        <td>{{visit}}</td>
      </tr>
    </table>
  </div>
</div>